<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Examples.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Examples: Sets

In this notebook, we will look at how to create sets and some of the ways we can manipulate them.

## Learning objectives

By the end of this train, you should:
- Know how to create a set and confirm its type.
- Know how to check membership in a set.
- Understand some set characteristics such as mutability and duplicates.
- Be familiar with certain set operations.

## Examples

### 1. Create a set

We create a set by assigning a **group of comma-separated values** enclosed **within curly brackets** to a variable.

In [ ]:
# Create a set, defined within curly brackets
eats_plants = {"Giraffe", "Elephant", "Bear", "Rabbit", "Fox"}
print(eats_plants)

We can also use the `set()` constructor to create a set from other iterables such as lists.

In [ ]:
# Create a set from a list using the set constructor
eats_meat = set(["Lion", "Tiger", "Bear", "Hawk", "Fox", "Lion"])
print(eats_meat)

**Note:** The set will retain **only unique elements** and any duplicates in the list will be removed.

### 2. Set type

If we want to confirm that our variable is of the `set` type, we can pass the variable name to the `type()` function.

In [ ]:
# Check the type of the variable eats_plants
type(eats_plants)

The output `set` confirms that we have created a set.

### 3. Check membership in a set

Sets are **unordered**, which means elements are not assigned indexes. Therefore, they **do not support indexing** to access specific elements. 

However, we can check for the presence of an element in a set using the `in` keyword. If present, `True` is returned.

In [ ]:
# Checking if the element "Lion" is in the set eats_meat
"Lion" in eats_meat

In [ ]:
# Checking if the element "Elephant" is in set eats_meat
"Elephant" in eats_meat

### 4. Duplicates 

Since sets are unordered, they **do not allow duplicates**.

Items with the same value are considered to be the same thing and will only be listed once.

In [ ]:
# Set containing duplicates
eats_meat = {"Lion", "Tiger", "Bear", "Hawk", "Fox", "Lion"}
print(eats_meat)

### 5. Modification

Sets are also **mutable**. They support various methods for **adding** and **removing** elements.

#### a) Adding elements:

- `add()`: This adds a single element to the set.
- `update()`: This adds elements from an iterable, such as lists and other sets, to the set.

In [ ]:
# Add the element "Cow" to the set eats_plants
eats_plants.add("Cow")
print(eats_plants)

In [ ]:
# Add multiple elements from another set
eats_meat.update({"Leopard", "Cheetah"})
print(eats_meat)

#### b) Removing elements:

- `remove()`: This removes a specified element and it will raise an error if the element is not present.
- `discard()`: This removes a specified element but it will not raise an error if the element is not present.

In [ ]:
# Remove the element "Rabbit" from set eats_plants
eats_plants.remove("Rabbit")
print(eats_plants)

In [ ]:
# Remove the element "Deer" from set eats_plants
eats_plants.discard("Deer")
print(eats_plants)

**Note:** We can add and remove elements from a set but we **cannot change the value of an existing element** in the set.

### 6. Set operations

The speed and efficiency we get from set operations are due to sets containing unique elements. We can easily combine and compare sets using a few basic operations, discussed below.

#### a) Union – `union()`:

This returns a new set containing a combination of all unique elements from both sets.

In [ ]:
# Create a new set with all the animals from the eats_meat and eats_plants sets
all_animals = eats_meat.union(eats_plants)
print(all_animals)

#### b) Intersection – `intersection()`:

This returns a new set containing common elements between two sets.

In [ ]:
# Create a new set with animals that are common in both eats_meat and eats_plants sets
omnivores = eats_meat.intersection(eats_plants)
print(omnivores)

#### c) Difference – `difference()`:

This returns a new set containing elements that are only present in the first set but not in the second set.

In [ ]:
# Create a new set with animals that are only in the eats_meat set
carnivore_only = eats_meat.difference(eats_plants)
print(carnivore_only)

#### d) Subset – `issubset()`:

This returns `True` if the set is a subset of another set, otherwise it will return `False`.

In [ ]:
# Check if eats_plants is a subset of all_animals
eats_plants_subset = eats_plants.issubset(all_animals)
print(eats_plants_subset)

### 7. Other set methods

Other built-in methods we can use when working with sets:

#### a) len( )

We use the `len()` function to determine the number of elements in a set.

In [ ]:
# Return the number of elements in carnivore_only
Length_of_set = len(carnivore_only)
print(f"No. of animals that are exclusively carnivorous: {Length_of_set}")

#### b) clear() 

We use the `clear()` function to remove all elements from a set.

In [ ]:
# Remove all elements from set all_animals
all_animals.clear()
print(all_animals)

## Summary

We have looked at ways of creating sets and manipulating them. Take time to explore other methods and operations that can be performed on sets.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>